## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sao Filipe,CV,14.8961,-24.4956,73.22,69,0,12.24,clear sky
1,1,Balezino,RU,57.9796,53.0106,18.07,100,85,5.30,overcast clouds
2,2,Mataura,NZ,-46.1927,168.8643,62.44,50,89,1.48,overcast clouds
3,3,Whitehorse,CA,60.7161,-135.0538,31.10,65,75,11.50,shower rain
4,4,Albany,US,42.6001,-73.9662,37.81,61,96,6.06,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature (deg F) you would like for your trip? "))
max_temp = float(input("What is the maximum temperature (deg F) you would like for your trip? "))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sao Filipe,CV,14.8961,-24.4956,73.22,69,0,12.24,clear sky
2,2,Mataura,NZ,-46.1927,168.8643,62.44,50,89,1.48,overcast clouds
6,6,Meadow Lake,US,34.8014,-106.5436,72.37,7,0,5.55,clear sky
7,7,Westport,US,41.1415,-73.3579,52.09,44,0,10.36,clear sky
8,8,Ushuaia,AR,-54.8000,-68.3000,53.26,50,40,12.66,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
673,673,Coolum Beach,AU,-26.5333,153.1000,73.22,99,83,5.50,light rain
676,676,Craig,US,40.5153,-107.5464,52.56,56,0,3.44,clear sky
678,678,Mindelo,CV,16.8901,-24.9804,71.15,73,75,24.16,broken clouds
684,684,Santa Rosalia,MX,27.3167,-112.2833,70.65,27,88,2.84,overcast clouds
685,685,Kon Tum,VN,14.3500,108.0000,60.94,95,71,2.82,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                5
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
new_preferred_cities_df = preferred_cities_df.dropna()
new_preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sao Filipe,CV,14.8961,-24.4956,73.22,69,0,12.24,clear sky
2,2,Mataura,NZ,-46.1927,168.8643,62.44,50,89,1.48,overcast clouds
6,6,Meadow Lake,US,34.8014,-106.5436,72.37,7,0,5.55,clear sky
7,7,Westport,US,41.1415,-73.3579,52.09,44,0,10.36,clear sky
8,8,Ushuaia,AR,-54.8000,-68.3000,53.26,50,40,12.66,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
673,673,Coolum Beach,AU,-26.5333,153.1000,73.22,99,83,5.50,light rain
676,676,Craig,US,40.5153,-107.5464,52.56,56,0,3.44,clear sky
678,678,Mindelo,CV,16.8901,-24.9804,71.15,73,75,24.16,broken clouds
684,684,Santa Rosalia,MX,27.3167,-112.2833,70.65,27,88,2.84,overcast clouds
685,685,Kon Tum,VN,14.3500,108.0000,60.94,95,71,2.82,broken clouds

In [7]:
new_preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = new_preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Sao Filipe,CV,73.22,clear sky,14.8961,-24.4956,
2,Mataura,NZ,62.44,overcast clouds,-46.1927,168.8643,
6,Meadow Lake,US,72.37,clear sky,34.8014,-106.5436,
7,Westport,US,52.09,clear sky,41.1415,-73.3579,
8,Ushuaia,AR,53.26,scattered clouds,-54.8000,-68.3000,
9,Ilam,NP,53.74,clear sky,26.9167,87.9167,
10,Punta Arenas,CL,50.11,light rain,-53.1500,-70.9167,
11,Cape Town,ZA,69.12,few clouds,-33.9258,18.4232,
20,East London,ZA,72.64,overcast clouds,-33.0153,27.9116,
22,Castro,BR,66.96,overcast clouds,-24.7911,-50.0119,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

# Print 10 first hotels:
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Sao Filipe,CV,73.22,clear sky,14.8961,-24.4956,Hotel Xaguate
2,Mataura,NZ,62.44,overcast clouds,-46.1927,168.8643,Ellie's Villa
6,Meadow Lake,US,72.37,clear sky,34.8014,-106.5436,TumbleWeed RV Park
7,Westport,US,52.09,clear sky,41.1415,-73.3579,The Inn at Longshore
8,Ushuaia,AR,53.26,scattered clouds,-54.8000,-68.3000,Albatross Hotel
9,Ilam,NP,53.74,clear sky,26.9167,87.9167,चियाबारी कटेज
10,Punta Arenas,CL,50.11,light rain,-53.1500,-70.9167,Hotel Hain
11,Cape Town,ZA,69.12,few clouds,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
20,East London,ZA,72.64,overcast clouds,-33.0153,27.9116,Tu Casa
22,Castro,BR,66.96,overcast clouds,-24.7911,-50.0119,CHACARA BAILLY

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))